name: Add Repositories to Weblate

on:
  workflow_dispatch:
    inputs:
      repo_name:
        description: 'Github repository name (e.g. alfresco-connector) or blank for all projects of the axonivy-market org'
        required: false
        default: ''
        type: string
      weblate_url:
        description: 'Weblate URL'
        required: true
        default: 'https://hosted.weblate.org'
        type: string
      weblate_project:
        description: 'Weblate Project Slug'
        required: true
        default: 'axonivy-marketplace'
        type: string

jobs:
  add-to-weblate:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Add repositories to Weblate
        env:
          INPUT_REPO_NAME: ${{ inputs.repo_name }}
          WEBLATE_URL: ${{ inputs.weblate_url }}
          WEBLATE_PROJECT: ${{ inputs.weblate_project }}
          WEBLATE_TOKEN: ${{ secrets.WEBLATE_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GH_HOOK_TOKEN }}
        run: |
          chmod +x add-repos-to-weblate.sh
          ./add-repos-to-weblate.sh
